<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
	<listeners>
		<listener class-name="TestNGProject.TestNG.RetryAnalyzer" />
	</listeners>
	<test name="Test">
		<classes>
			<class name="TestNGProject.TestNG.TestNGClass" />
			<class name="TestNGProject.TestNG.PageFactoryGmailLogin"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
